<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container py-2 py-sm-3 border-bottom">
      {{/* Site Logo */}}
      {{ $homepage_url := absLangURL "" }}
      {{ if .Site.Params.logo }}
      <a class="navbar-brand" href="{{$homepage_url}}" aria-label="{{.Site.Title}}">
        <img class="navbar-brand-logo" src="#" alt="#">
      </a>
      {{ else }}
      <a class="navbar-brand fw-bold" href="{{$homepage_url}}" style="font-family: Arial, Helvetica, sans-serif;">{{ .Site.Title }}</a>
      {{ end }}
      <div class="d-flex align-items-center">
        <div type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-expanded="false"
          aria-controls="navbarToggleExternalContent">
          <i class="bi bi-menu-up"></i>
        </div>
        <div class="vl mx-2"></div>
        <div class="dropdown">
          <button type="button" class="btn btn-link nav-link py-2 px-0 px-lg-2" data-bs-toggle="dropdown"
            aria-expanded="false" data-bs-display="static">
            <i class="me-1 bi-translate"></i></button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item active" aria-current="true" href="/bn/">বাংলা</a></li>
            <li><a class="dropdown-item" href="/en/">English</a></li>
          </ul>
        </div>
        <div class="vl mx-2"></div>
        <div class="dropdown">
          <button class="btn btn-link nav-link" id="bd-theme" type="button" aria-expanded="true"
            data-bs-toggle="dropdown" data-bs-display="static" aria-label="থিম পরিবর্তন (light)">
            <i id="theme-icon-active" class="me-1 bi-sun"></i></button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
            <li><button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light"
                aria-pressed="true">
                <i id="theme-icon" class="me-1 bi-sun"></i> আলো</button></li>
            <li><button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
                aria-pressed="false">
                <i id="theme-icon" class="me-1 bi-moon"></i> আঁধার</button></li>
          </ul>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </nav>
  {{/* Secondary Navbar */}}
 {{ partial "menu.local.html" . }}
  {{/* Global Menus */}}
  <div class="collapse menu_global border-bottom" id="navbarToggleExternalContent">
    {{ partial "menu.global.html" . }}
  </div>
  
</header>