<nav class="navbar navbar-expand-lg bg-white">
    <div class="container">
      <div class="collapse navbar-collapse py-2" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">সম্পর্কে</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">বাংলাদেশের পরিসংখ্যান</a></li>
              <li><a class="dropdown-item" href="#">বাংলাদেশের পর্যটন</a></li>
              <li><a class="dropdown-item" href="#">বাংলাদেশ কোড</a></li>
              <li><a class="dropdown-item" href="#">বাংলাদেশ জিওকোড</a></li>
              <li><a class="dropdown-item" href="#">জাতীয় বাজেট</a></li>
              <li><a class="dropdown-item" href="#">মুক্তিযুদ্ধ ১৯৭১</a></li>
              <li><a class="dropdown-item" href="#">জাতীয় সঙ্গীত</a></li>
              <li><a class="dropdown-item" href="#">জাতীয় পতাকা</a></li>
              <li><a class="dropdown-item" href="#">সংবিধান</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">সেবাসমূহ</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">বঙ্গভবন</a></li>
              <li><a class="dropdown-item" href="#">প্রধানমন্ত্রীর কার্যালয়</a></li>
              <li><a class="dropdown-item" href="#">জাতীয় সংসদ</a></li>
              <li><a class="dropdown-item" href="#">মন্ত্রিপরিষদ বিভাগ</a></li>
              <li><a class="dropdown-item" href="#">অধিদপ্তরসমূহ ও অন্যান্য অফিস</a></li>
              <li><a class="dropdown-item" href="#">সুপ্রিম কোর্ট</a></li>
              <li><a class="dropdown-item" href="#">নির্বাচন কমিশন</a></li>
              <li><a class="dropdown-item" href="#">দুর্নীতি দমন কমিশন</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="/services" role="button">সেবাকুঞ্জ</a></li>
          <li class="nav-item"><a class="nav-link" href="/services" role="button">চাকরি-বার্তা</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">ডাউনলোড</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">ফরমস</a></li>
              <li><a class="dropdown-item" href="#">সফটওয়্যার</a></li>
              <li><a class="dropdown-item" href="#">টেমপ্লেটস</a></li>
              <li><a class="dropdown-item" href="#">ফন্ট</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              প্রশিক্ষণ
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">কম্পিউটার অ্যাপ্লিকেশন</a></li>
              <li><a class="dropdown-item" href="#">ওয়েব ডিজাইন ও ডেভেলপমেন্ট</a></li>
              <li><a class="dropdown-item" href="#">ইঙ্কস্কেপ গ্রাফিক্স</a></li>
              <li><a class="dropdown-item" href="#">আইসিটি (HSC) সম্পূরক শিক্ষা</a></li>
              <li><a class="dropdown-item" href="#">অফিস ২০২২</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="লিখুন..........." aria-label="Search">
          <button class="btn btn-outline-success" type="submit">অনুসন্ধান</button>
        </form>
      </div>
    </div>
  </nav>