{{ define "main" }}
<div class="">
    <div class="container py-5 mb-lg-3">
        <div class="d-flex justify-content-center align-items-center pt-lg-4 text-center">
            <div class="col-lg-5 col-md-7 col-sm-9">
                <h1 class="h3">ত্রুটি নং ৪০৪</h1>
                <h3 class="h5 fw-normal mb-4">সার্চকৃত শব্দের সাহায্যে কোন ফলাফল খুঁজে পাওয়া যায়নি। অনুগ্রহ করে আরও
                    উপযুক্ত
                    বা অর্থপুর্ণ শব্দের মাধ্যমে চেষ্টা করুন কিংবা ভালো করে লক্ষ্য করুন আপনি বানান ঠিকভাবে লিখেছেন কিনা!
                </h3>
                <p class="fs-md mb-4"><a href="/">মূলপাতায় ফেরত যান</a></p>
            </div>
        </div>
    </div>

</div>
{{ end }}