{{ define "main" }}
<div class="bg-green-5 position-relative overflow-hidden">
    <div class="container">
        <div class="row justify-content-center align-items-lg-center py-10">
            <div class="col-12 col-md-8 mb-5 mb-lg-0">
                <div class="mb-7">
                    <h1 class="display-3">ঐশিক আইটি সেন্টার (AITC)</h1>
                    <p>লক্ষীগঞ্জ বাজার, ঈশ্বরগঞ্জ, ময়মনসিংহ</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
               
                <ul>
                    <li>aishik.itc@gmail.com</li>
                    <li>+৮৮০ ১৬০১৬৬০৬৬৬</li>
                    <li>লক্ষীগঞ্জ বাজার, ঈশ্বরগঞ্জ, ময়মনসিংহ</li>
                </ul>
            </div>

            <div class="col-md-8 col-lg-6">
                <div class="ps-lg-5">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    {{ .Content }}
    <h2>News/Notice</h2>
</div>
{{ end }}